:root {
  --color-1: #202020;
  --color-2: #404040;
  --color-3: #606060;
  --color-4: #cccccc;
  --color-5: #707070;
  --font-family: 'Open Sans', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: bold;
}

html {
  font-size: 62,5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-1);
}

.weather-container {
  display: flex;
  align-items: center;
  background-color: var(--color-2);
  height: 25rem;
  width: 25rem;
  border-radius: .8rem;
  color: var(--color-4);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.weather .search-container .search-city {
  padding: .4rem;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  border-color: transparent;
  background-color: var(--color-1);
  color: var(--color-4);
}

.weather .search-container .search-city:focus {
  outline: none;
}

.weather .search-container .search-submit {
  padding: .4rem;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
  border-color: transparent;
  cursor: pointer;
  color: var(--color-4);
  background-color: var(--color-3);
}

.weather .search-container .search-submit:hover {
  background-color: var(--color-5);
}

.weather-container .display-weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  gap: 1rem;
}

.weather-container .display-weather-data .weather-icon {
  width: 6rem;
}

@media (max-width: 600px) {
  .weather-container{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}